body {
    margin: 0px;
    padding: 0px;
}

.body {
    display: flex;
    flex-direction: column;
}

a, ul {
    text-decoration: none;
    list-style: none;
    color: white;
}

button {
    border-radius: 10px;
    border-color: #3882F6;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header-top {
    display: flex;
}

.top-left {
    font-size: 24px;
    color: #F9FAF8;
    padding: 0px 0px 0px 150px;
    margin-right: auto;
}

.top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
    gap: 25px;
    padding: 0px 120px 0px 0px;
}

.header-main {
    display: flex;
    color: #E5E7EB;
    padding: 50px 110px;
}

.header-main-left {
    display: flex;
}

.header-main-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-sign-up {
    background-color: #3882F6;
    color: white;
    padding: 5px 25px;
    font-weight: bolder;
    font-size: 18px;
}